DB_PASSWORD=YOUR-SUPER-SECRET-PASSWORD
DB_NAME=YOUR-DATABASE-NAME
DB_USER=YOUR-USERNAME
DB_HOST=localhost
DB_PORT=5436

AWS_ACCESS_KEY_ID=PLACEHOLDER_FOR_NOW
AWS_SECRET_ACCESS_KEY=PLACEHOLDER_FOR_NOW
AWS_ENDPOINT_URL=http://localhost:4566

GRUNDEN_API_KEY=sk-grunden-YOUR_SUPER_SECRET_API_KEY_HERE